.middle {
    background-color: #F5F5F5;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.middle h1 {
    text-align: center;
    font-family: 'Actual';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 24px;
    /* identical to box height, or 75% */

    letter-spacing: 0.01em;
    text-transform: uppercase;

    color: #333333;
    padding: 20px;
}

.middle p {
    width: 435px;
    font-family: 'Actual';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-left: 50px;

    color: #666666;
    margin-left: 407px;

}
.form{
    max-width: 426px;
    height: 46px;
    margin-top: 27px;
    margin-left: 388px;
    border-radius: 10px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(102, 102, 102, 0.5);
    border-image: initial;
}
.pic img{
    margin: 34px 362px;
    width: 500px;
}
.middle h2{
    width: 458px;
    font-family: 'Actual';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #333333;
    margin: 0px 405px;

}
.bottom{
    display: flex;
    justify-content: space-evenly;
}
.content_1{
    max-width: 200px;
    margin-right: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.content_2{
    max-width: 200px;
    margin-right: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;

}
.content_3{
    max-width: 200px;
    margin-right: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
#tittle{
margin-bottom: 0px;
    
font-family: 'Actual';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #333333;
}
#tittle_2{
    margin-bottom: 0px;
    
font-family: 'Actual';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #333333;

}
#tittle_3{
    margin-bottom: 0px;
    
font-family: 'Actual';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #333333;
}
#desk{
    font-family: 'Actual';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #666666;
}
#desk_1{
    font-family: 'Actual';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #666666;
}
#desk_2{
    font-family: 'Actual';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #666666;
}
.divide{
    display: flex;
    justify-content: space-between;
}
.divide_left{
    display: flex;
    justify-content: flex-start;
}
.divide p{
    margin-right: 45px;
}
